.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 40px;
  width: 800px;
  background: darkgrey;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn {
  padding: 5px 20px;
  width: 250px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border: transparent;
}
.btn:hover {
  background: cornflowerblue;
}
.title {
  margin: 0 0 40px;
  color: rgb(17, 18, 18);
}
.albums-btn {
  width: 650px;
}
.photos-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
}
.photos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
